[Unit]
Description=UNCC Parking Scraper

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/uncc-parking-scraper
EnvironmentFile=/home/ubuntu/uncc-parking-scraper/.env
ExecStart=/home/ubuntu/uncc-parking-scraper/.venv/bin/python main.py
